@model Poppel.Models.OrderItem

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Name")
        </dt>

        <dd>
            @Html.Display(Model.Product.Name)
        </dd>

        <dt>
            @Html.DisplayName("Price")
        </dt>

        <dd>
            @Html.Display(Model.Product.Cost.ToString())
        </dd>

        <dt>
            @Html.DisplayName("Description")
        </dt>

        <dd>
            @Html.Display(Model.Product.Description)
        </dd>
        <dt>
            @Html.DisplayName("Image")
        </dt>

        <dd>
            <img src="@Url.Content("~/Images/"+Model.Product.image)" width="300px" height="220px" />
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
